.appBar{
    position: fixed;
    padding: 0 5%;
    background-color: inherit;
    background-image: url('../public/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.menu{
    display: block;
}
.menuBtn{
    display: none;
}

@media screen and ( max-width: 480px) {
    .menu{
        display: none;
    }
    .menuBtn{
        display: block;
    }
}
.menuItem{
    font-weight: 700;
    margin: 0 5px;
}